.vscode/**
.vscode-test/**
test-dita-file/**
test/**
src/**
dist/test/**
tsconfig.json
tsconfig.e2e.json
esbuild.config.js
eslint.config.js
.prettierrc
node_modules/
.gitignore
REQUIREMENTS.md
output/