.vscode/**
.vscode-test/**
test-dita-file/**
test/**
src/**
dist/test/**
dist/**/*.map
dist-test/**
scripts/**
.github/**
tsconfig.json
tsconfig.e2e.json
tsconfig.test.json
.mocharc.json
test-runner.cjs
esbuild.config.js
eslint.config.js
.prettierrc
node_modules/
.gitignore
REQUIREMENTS.md
ROADMAP.md
bugs.md
output/